
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid{
    width: 400px;
    height: 400px;
    margin: auto;
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
    border: red solid;
}
.grid div{
    width: 20px;
    height: 20px;
    /* border: green solid 1px; */
}
.grid div.apple{
    background-color: red;
    border-radius: 100%;
}
.shooter{
    background-color: white;
}

.bullet{
    background-color: rgb(87, 88, 87);
}
.fired{
    background-color: green;
}